*{
    color: rgba(255, 145, 0, 0.932); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.colorblue{
    color: rgba(255, 145, 0, 0.932);
}
#color-purple{
    color: purple;
}
body{
    background-color: #363062;
}
#title-element{
    /* text-shadow: 2px 2px white; */
    text-align: center;
}
header{
    background-color: white;
}
#my-color{
    color: white;
}
#my-button{
    background-color: rgba(255, 145, 0, 0.932);
    color: black;
    /* box-shadow: none; */
    border: none;
}
